<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tour.category.dao.CategoryDAO">
 	<insert id="insertCategory" parameterType="String">
 		INSERT INTO `category`
 		(
 			`categoryName`
 			, `categoryAttr`
 		)
 		VALUES
 		(
 			#{categoryName}
 			, #{categoryAttr}
 		)
 	</insert>
 	
 	<select id="selectCategoryList" resultType="com.tour.category.model.Category">
 		SELECT
 			`id`
 			, `categoryName`
 			, `categoryAttr`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`category`	
 	</select>
 	
 	<select id="selectCategoryByNameAttr" parameterType="String" resultType="int">
 		SELECT
 			count(*)
 		FROM
 			`category`
 		WHERE
 			`categoryName` = #{categoryName}
 	</select>
 	
 	<delete id="deleteCategoryByAttr" parameterType="String">
 		DELETE
 		FROM
 			`category`
 		WHERE
 			`categoryName` = #{categoryName}
 	</delete>
 	
 	<update id="updateCategoryByNameAttr" parameterType="map">
 		UPDATE `category`
		SET
			`categoryName` = #{categoryName}
			, `categoryAttr` = #{categoryAttr}
			, `updatedAt` = NOW()
		WHERE
			`categoryName` = #{checkName}
 	</update>
 	
 	<select id="selectCategoryIdByAttr" parameterType="String" resultType="int">
 		select
 			`id`
 		FROM
 			`category`
 		WHERE
 			`categoryAttr`= #{categoryAttr}
 	</select>
 	
 	<insert id="insertCategoryInfo" parameterType="map">
 		<choose>
	 		<when test ="categoryAttr == 'accomodation'">
		 		INSERT INTO `accomodation`
		 		(
					`categoryId`
					,`name`
					,`englishName`
					,`address`
					,`zipCode`
					,`intro`
					,`intro2`
					,`intro3`
					,`accomoPlace`
					,`accomoPlace2`
					,`accomoPlace3`
					,`accomoPlace4`
					,`latitude`
					,`longitude`
					,`price`
					,`phoneNumber`
					,`email`
					,`thumbnailPic`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{categoryId}
		 			, #{name}
		 			, #{englishName}
		 			, #{address}
		 			, #{zipCode}
		 			, #{intro}
		 			, #{intro2}
		 			, #{intro3}
		 			, #{accomoPlace}
		 			, #{accomoPlace2}
		 			, #{accomoPlace3}
		 			, #{accomoPlace4}
		 			, #{latitude}
		 			, #{longitude}
		 			, #{price}
		 			, #{phoneNumber}
		 			, #{email}
		 			, #{thumbnailPic}
		 			, NOW()
		 			, NOW()
		 		)
	 		</when>
	 		<when test="categoryAttr == 'tourist'">
	 			INSERT INTO `tourist`
		 		(
					`categoryId`
					,`name`
					,`englishName`
					,`address`
					,`zipCode`
					,`intro`
					,`intro2`
					,`recommendTime`
					,`price`
					,`phoneNumber`
					,`email`
					,`operatingTime`
					,`latitude`
					,`longitude`
					,`website`
					,`thumbnailPic`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{categoryId}
		 			, #{name}
		 			, #{englishName}
		 			, #{address}
		 			, #{zipCode}
		 			, #{intro}
		 			, #{intro2}
		 			, #{recommendTime}
		 			, #{price}
		 			, #{phoneNumber}
		 			, #{email}
		 			, #{operatingTime}
		 			, #{latitude}
		 			, #{longitude}
		 			, #{website}
		 			, #{thumbnailPic}
		 			, NOW()
		 			, NOW()
		 		)
	 		</when>
	 		<when test="categoryAttr == 'restaurant'">
	 			INSERT INTO `restaurant`
		 		(
					`categoryId`
					,`name`
					,`address`
					,`zipCode`
					,`intro`
					,`availableToServe`
					,`type`
					,`price`
					,`phoneNumber`
					,`operatingTime`
					,`happyHour`
					,`thumbnailPic`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{categoryId}
		 			, #{name}
		 			, #{address}
		 			, #{zipCode}
		 			, #{intro}
		 			, #{availableToServe}
		 			, #{type}
		 			, #{price}
		 			, #{phoneNumber}
		 			, #{operatingTime}
		 			, #{happyHour}
		 			, #{thumbnailPic}
		 			, NOW()
		 			, NOW()
		 		)
	 		</when>
	 		<when test="categoryAttr == 'travleTip'">
	 			INSERT INTO `travleTip`
		 		(
					`categoryId`
					,`vitalItem`
					,`culture`
					,`commonSense`
					,`recommended`
					,`warning`
					,`thumbnailPic`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{categoryId}
		 			, #{vitalItem}
		 			, #{culture}
		 			, #{commonSense}
		 			, #{recommended}
		 			, #{warning}
		 			, #{thumbnailPic}
		 			, NOW()
		 			, NOW()
		 		)
	 		</when>
	 		<when test="categoryAttr == 'package'">
	 			INSERT INTO `package`
		 		(
					`categoryId`
					,`name`
					,`address`
					,`zipCode`
					,`intro`
					,`price`
					,`durationTime`
					,`field`
					,`operatingTime`
					,`thumbnailPic`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{categoryId}
		 			, #{name}
		 			, #{address}
		 			, #{zipCode}
		 			, #{intro}
		 			, #{price}
		 			, #{durationTime}
		 			, #{field}
		 			, #{operatingTime}
		 			, #{thumbnailPic}
		 			, NOW()
		 			, NOW()
		 		)
	 		</when>
 		</choose>
 	</insert>
 	
 	<select id="selectAccomodationList" resultType="com.tour.category.model.Accomodation">
 		SELECT
 			`id`
			,`categoryId`
			,`name`
			,`englishName`
			,`address`
			,`zipCode`
			,`intro`
			,`intro2`
			,`intro3`
			,`accomoPlace`
			,`accomoPlace2`
			,`accomoPlace3`
			,`accomoPlace4`
			,`latitude`
			,`longitude`
			,`price`
			,`phoneNumber`
			,`email`
			,`thumbnailPic`
			,`createdAt`
			,`updatedAt`
		FROM
			`accomodation`
	</select>
 	<select id="selectAccomodationById" resultType="com.tour.category.model.Accomodation">
 		SELECT
 			`id`
			,`categoryId`
			,`name`
			,`englishName`
			,`address`
			,`zipCode`
			,`intro`
			,`intro2`
			,`intro3`
			,`accomoPlace`
			,`accomoPlace2`
			,`accomoPlace3`
			,`accomoPlace4`
			,`latitude`
			,`longitude`
			,`price`
			,`phoneNumber`
			,`email`
			,`thumbnailPic`
			,`createdAt`
			,`updatedAt`
		FROM
			`accomodation`
		WHERE
			`id` = #{accomodationId}
 	</select>
 	
 	<insert id="insertHotelInfo" parameterType="map">
 		<choose>
 			<when test="accomoType == 2">
 				INSERT INTO `room`
 				(
 					`accomoId`
					,`roomIntro`
					,`roomType`
					,`bedType`
					,`roomPrice`
					,`floor`
					,`view`
					,`checkIn`
					,`checkOut`
					,`breakfast`
					,`headcount`
					,`smoke`
					,`thumbnailPic`
					,`createdAt`
					,`updatedAt`
 				)
 				VALUES
 				(
 					#{accomoId}
 					, #{roomIntro}
 					, #{roomType}
 					, #{bedType}
 					, #{roomPrice}
 					, #{floor}
 					, #{view}
 					, #{checkIn}
 					, #{checkOut}
 					, #{breakfast}
 					, #{headcount}
 					, #{smoke}
 					, #{thumbnailPic}
 					, NOW()
 					, NOW()
 				)
 			</when>
 			<when test="accomoType == 3">
		 		INSERT INTO `Facilities`
		 		(
					`accomoId`
					,`fitness`
					,`barLounge`
					,`pool`
					,`valetParking`
					,`EVCS`
					,`banquetHall`
					,`petAllowed`
					,`luggageStorage`
					,`wifi`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{accomoId}
		 			, #{fitness}
		 			, #{barLounge}
		 			, #{pool}
		 			, #{valetParking}
		 			, #{EVCS}
		 			, #{banquetHall}
		 			, #{petAllowed}
		 			, #{luggageStorage}
		 			, #{wifi}
		 			, NOW()
		 			, NOW()
		 		)
 			</when>
 			<when test="accomoType == 4">
		 		INSERT INTO `roomFacilities`
		 		(
					`accomoId`
					,`blackoutCurtain`
					,`roomService`
					,`morningCall`
					,`refridge`
					,`coffeeMaker`
					,`TV`
					,`safe`
					,`telephone`
					,`airConditioner`
					,`kitchenette`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{accomoId}
		 			, #{blackoutCurtain}
		 			, #{roomService}
		 			, #{morningCall}
		 			, #{refridge}
		 			, #{coffeeMaker}
		 			, #{TV}
		 			, #{safe}
		 			, #{telephone}
		 			, #{airConditioner}
		 			, #{kitchenette}
		 			, NOW()
		 			, NOW()
		 		)
 			</when>
 		</choose>
 	</insert>
 	
 	<select id="selectFacilitiestById" parameterType="int" resultType="com.tour.category.model.Facilities">
 		SELECT
 			`id`	
 			,`accomoId`
			,`fitness`
			,`barLounge`
			,`pool`
			,`valetParking`
			,`EVCS`
			,`banquetHall`
			,`petAllowed`
			,`luggageStorage`
			,`wifi`
			,`createdAt`
			,`updatedAt`
		FROM
			`Facilities`
		WHERE
			`accomoId` = #{accomodationId}
 	</select>
 	
 	<select id="selectRoomFacilitiesById" parameterType="int" resultType="com.tour.category.model.RoomFacilities">
 		SELECT
 			`id`
			,`accomoId`
			,`blackoutCurtain`
			,`roomService`
			,`morningCall`
			,`refridge`
			,`coffeeMaker`
			,`TV`
			,`safe`
			,`telephone`
			,`airConditioner`
			,`kitchenette`
			,`createdAt`
			,`updatedAt`
		FROM
			`roomFacilities`
		WHERE
			`accomoId` = #{accomodationId}
 	</select>
 	
 	<select id="selectRoomById" parameterType="int" resultType="com.tour.category.model.Room">
 		SELECT
 			`id`
			,`accomoId`
			,`roomIntro`
			,`roomType`
			,`bedType`
			,`roomPrice`
			,`floor`
			,`view`
			,`checkIn`
			,`checkOut`
			,`breakfast`
			,`headcount`
			,`smoke`
			,`thumbnailPic`
			,`createdAt`
			,`updatedAt`
		FROM
			`room`
		WHERE
			`accomoId` = #{accomodationId}
 	</select>
 	
 	<select id="selectTouristList" resultType="com.tour.category.model.Tourist">
 		SELECT
 			`id`
 			,`categoryId`
			,`name`
			,`englishName`
			,`address`
			,`zipCode`
			,`intro`
			,`intro2`
			,`recommendTime`
			,`price`
			,`phoneNumber`
			,`email`
			,`operatingTime`
			,`latitude`
			,`longitude`
			,`website`
			,`thumbnailPic`
			,`createdAt`
			,`updatedAt`
		FROM
			`tourist`
 	</select>
 	
 	<select id="selectTouristById" resultType="com.tour.category.model.Tourist">
 		SELECT
 			`id`
 			,`categoryId`
			,`name`
			,`englishName`
			,`address`
			,`zipCode`
			,`intro`
			,`intro2`
			,`recommendTime`
			,`price`
			,`phoneNumber`
			,`email`
			,`operatingTime`
			,`latitude`
			,`longitude`
			,`website`
			,`thumbnailPic`
			,`createdAt`
			,`updatedAt`
		FROM
			`tourist`
		WHERE
			`id` = #{touristId}
 	</select>
 	
 	<select id="selectTouristPicById" resultType="String">
 		 SELECT
 		 	`imagePath`
 		 FROM
 		 	`touristPic`
 		 WHERE
 		 	`touristId` = #{touristId}
 	</select>
 	
 	<insert id="insertTouristImages" parameterType="map">
 		INSERT INTO `touristPic`
		 		(
					`touristId`
					,`imagePath`
					,`createdAt`
					,`updatedAt`
		 		)
		 		VALUES
		 		(
		 			#{touristId}
		 			, #{imagePath}
		 			, NOW()
		 			, NOW()
		 		)
 	</insert>
 </mapper>