<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tour.booking.dao.BookingDAO">
 
 	 <insert id="reserveRoom" parameterType="map">
 	 	 INSERT INTO `roomReserve`
 	 	 (
			`accomoId`
			,`roomId`
			,`userId`
			,`headCount`
			,`checkIn`
			,`checkOut`
			,`createdAt`
			,`updatedAt`
 	 	 )
 	 	 VALUES
 	 	 (
 	 	 	#{accomoId}
 	 	 	, #{roomId}
 	 	 	, #{userId}
 	 	 	, #{headCount}
 	 	 	, #{checkIn}
 	 	 	, #{checkOut}
 	 	 	, NOW()
 	 	 	, NOW()
 	 	 )
 	 </insert>
 	 
 	<!--  <select id="searchReserveRoomByUserIdAccomoId" parameterType="map" resultType="int">
 	 	SELECT
 	 		`id`
	 	 	,`accomoId`
			,`roomId`
			,`userId`
			,`headCount`
			,`checkIn`
			,`checkOut`
			,`createdAt`
			,`updatedAt`
		FROM
			`roomReserve`
		WHERE
			`accomoId` = #{accomoId}
			AND
			`userId` = #{userId}
			AND
			<![CDATA[
			`checkOut` < #{now}
			]]>
 	 </select> -->
 	 
 	 <select id="getReserveRoomByUserIdAccomoId" parameterType="map" resultType="com.tour.booking.model.ReserveRoom">
 	 		SELECT
 	 		`id`
	 	 	,`accomoId`
			,`roomId`
			,`userId`
			,`headCount`
			,`checkIn`
			,`checkOut`
			,`createdAt`
			,`updatedAt`
		FROM
			`roomReserve`
		WHERE
			`userId` = #{userId}
			AND
			`accomoId` = #{accomoId}
		ORDER BY `id` DESC LIMIT 1
 	 </select>
 	 
 	 <select id="selectReserveRoomList" resultType="com.tour.booking.model.ReserveRoom">
 	 	SELECT
 	 		`id`
	 	 	,`accomoId`
			,`roomId`
			,`userId`
			,`headCount`
			,`checkIn`
			,`checkOut`
			,`createdAt`
			,`updatedAt`
		FROM
			`roomReserve`
 	 </select>
 </mapper>