<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tour.review.dao.ReviewDAO">
 	
 	<insert id="insertReview" parameterType="map">
 		INSERT INTO `accomoReview`
 		(
 			`accomoId`
			,`userId`
			,`userName`
			,`reviewTitle`
			,`reviewContent`
			,`point`
			,`checkIn`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{accomoId}
 			, #{userId}
 			, #{userName}
 			, #{reviewTitle}
 			, #{reviewContent}
 			, #{point}
 			, #{checkIn}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectAccomoReviewList" resultType="com.tour.review.model.AccomoReview">
 		SELECT
 			`id`
 			,`accomoId`
 			,`userId`
			,`userName`
			,`reviewTitle`
			,`reviewContent`
			,`point`
			,`checkIn`
			,`createdAt`
			,`updatedAt`
		FROM
			`accomoReview`
		WHERE
			`accomoId` = #{accomodationId}
 	</select>
 	
 	<select id="selectAccomoAvgPoint" resultType="int">
 		SELECT
 			AVG(`point`)
 		FROM
 			`accomoReview`
 		WHERE
 			`accomoId` = #{accomodationId}
 	</select>
 	
 	<select id="selectAccomoReviewRowCount" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`accomoReview`
 		WHERE
 			`accomoId` = #{accomodationId}
 	</select>
 	
 	<insert id="insertTouristReview" parameterType="map">
 		INSERT INTO `touristReview`
 		(
 			`touristId`
			,`userId`
			,`userName`
			,`reviewTitle`
			,`reviewContent`
			,`point`
			,`visitDay`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{touristId}
 			, #{userId}
 			, #{userName}
 			, #{reviewTitle}
 			, #{reviewContent}
 			, #{point}
 			, #{visitDay}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectTouristReviewList" resultType="com.tour.review.model.TouristReview">
 		SELECT
 			`id`
 			,`touristId`
 			,`userId`
			,`userName`
			,`reviewTitle`
			,`reviewContent`
			,`point`
			,`visitDay`
			,`createdAt`
			,`updatedAt`
		FROM
			`touristReview`
		WHERE
			`touristId` = #{touristId}
 	</select>
 	
 	<select id="selectTouristAvgPoint" resultType="int">
 		SELECT
 			AVG(`point`)
 		FROM
 			`touristReview`
 		WHERE
 			`touristId` = #{touristId}
 	</select>
 	
 	<select id="selectTouristReviewRowCount" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`touristReview`
 		WHERE
 			`touristId` = #{touristId}
 	</select>
 	
 	<select id="selectTouristReviewLatestById" resultType="com.tour.review.model.TouristReview">
 		SELECT
 			`id`
 			,`touristId`
 			,`userId`
			,`userName`
			,`reviewTitle`
			,`reviewContent`
			,`point`
			,`visitDay`
			,`createdAt`
			,`updatedAt`
		FROM
			`touristReview`
		WHERE
			`touristId` = #{touristId}
		ORDER BY `id` DESC
 	</select>
 </mapper>