@charset "UTF-8";
#wrap {width:1200px; height:1500px; margin:auto;}
header {height:75px;}
.banner-color:hover {text-decoration:none; color:#555;}
.banner-color {color:#000;}
.menu {height:40px; background-color:#E19696;}
.nav-item > .nav-link:hover {text-decoration:none; color:red;}
.nav-font-color {color:#000;}
.contents {min-height:550px;}
.admin-post-create {width:450px; margin:auto;}
.products-box {border: 2px solid coral; padding:10px; width:350px; height:200px;}
.flex-wrap-set {flex-wrap:wrap;}
.kakaoView {margin:auto; width:800px;}
#accomoListBox {width:1000px; margin:auto;}
.sign-up-shape {width:450px;}
.sign-up-width {width:450px; margin:auto;}
.sign-up-sen {font-size:23px;}
.sign-up-font-size {font-size:12px;}
footer {height:100px;}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

figure {  
  position: relative;
}

figcaption {
  color: white;
  position: absolute;
  transform: translate(225px, 10%);
  top: 0;
  width: 20%;
}

#figureImg {
  display: block;
}
.img-link {cursor:pointer;}
#hotelDetailInfoBox {height:150px;}
.hotel-name-font-margin {margin-bottom:0;}
.hotel-detail-info-box {padding-left:35%;}
.symbol {color:#DFD9D9;}
#hotelDetailBackGroundColor {width:100vw;  margin-left: calc(-50vw + 50%); background-color:#f2f2f2; min-height:500px;}
#hotelDetailContentsBox {width:1200px; margin:auto;}
#hotelDetailCalendar {width:300px; min-height:400px;}
#hotelDetailThumbnail {width:815px; min-height:400px; background-color:#FFFFFF;}
#hotelDetailFacilitiesAndRoom {width:800px; min-height:600px; background-color:#FFFFFF;}
#roomInfo {font-size:13px; color:#918C8C; padding-top:12px; text-decoration-line: underline; text-decoration-style: dotted;}
.intro-padding {margin-bottom:0px;}
.hr-width {width:95%; height:10px;}
#hotelIntroduction {width:400px;}
#hotelRoomInfoAndPic {background-color:#FFFFFF; height:200px;}
#roomIntroBox {width:550px;}
.room-intro-font {font-size:0.8em;}
.icon-room-font {font-size:13px;}
.roomType-hover:hover {color:#555; text-decoration-style: underline;}
.breakfast {text-decoration:underline;}
.reserve-btn {background-color:#80C1F4;}
.oneNightCost {font-size:15px; padding-top:8px;}
.move-to-hotel-rooms {text-decoration:none; color:#918C8C;}
.smallText {padding-top:40px;}
#googleMapBox {width:1050px; min-height:300px; background-color:#FFFFFF;}
#googleMap {width:350px; height:300px;}
input {
  padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border-radius: 0 !important;
}


.form-control {
  border-radius: 0 !important;
  font-size: 12x;
}

.clickable { cursor: pointer; }
#datepickerBox {height:35px;}