@charset "UTF-8";
#wrap {width:1200px; height:1500px; margin:auto;}
header {height:75px;}
.banner-color:hover {text-decoration:none; color:#555;}
.banner-color {color:#000;}
.menu {height:40px; background-color:#E19696;}
.nav-item > .nav-link:hover {text-decoration:none; color:red;}
.nav-font-color {color:#000;}
.contents {min-height:550px;}
.admin-post-create {width:450px; margin:auto;}
.products-box {border: 2px solid coral; padding:10px; width:350px; height:200px;}
.test1 {flex-wrap:wrap;}
.sign-up-shape {width:450px;}
.sign-up-sen {font-size:23px;}
.sign-up-font-size {font-size:12px;}
footer {height:100px;}